*, *::before, *::after {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus {
  outline: none;
}

button:focus {
  outline: none;
}

body {
  background: #FDFAF9;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15.5px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #0F0E0E;
}

body.hidden {
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #cfcfcf;
}

body::-webkit-scrollbar-thumb {
  background-color: #0F0B08;
}

body::-webkit-scrollbar-button {
  display: none;
}

button {
  cursor: pointer;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1398px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

h1 {
  font-weight: 200;
  font-size: 71px;
  line-height: 86px;
  letter-spacing: 0%;
  color: var(--color-orange-5, #0f0b08);
}

h2 {
  font-weight: 200;
  font-size: 44.4px;
  line-height: 54px;
  letter-spacing: 0%;
  color: var(--color-orange-5, #0f0b08);
}

h3 {
  font-weight: 200;
  font-size: 33.89px;
  line-height: 40px;
  letter-spacing: 0%;
  color: var(--color-orange-5, #0f0b08);
}

h4 {
  font-weight: 200;
  font-size: 28.36px;
  line-height: 36px;
  letter-spacing: 0%;
  color: var(--color-orange-5, #0f0b08);
}

h5 {
  font-weight: 400;
  font-size: 21.75px;
  line-height: 32px;
  letter-spacing: 0%;
  color: var(--color-orange-5, #0f0b08);
}

h6 {
  font-weight: 200;
  font-size: 18.44px;
  line-height: 28px;
  letter-spacing: 0%;
  color: var(--color-orange-5, #0f0b08);
}

.header__menu {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background: rgba(217, 217, 217, 0.2);
  -webkit-backdrop-filter: blur(9.8000001907px);
          backdrop-filter: blur(9.8000001907px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header__menu .logo {
  display: block;
  width: 313px;
  height: 80px;
  background: url(../img/mobile-logo.svg) no-repeat center;
  background-size: 100%;
  margin-bottom: 40px;
}
.header__menu .navbar {
  margin-bottom: 50px;
}
.header__menu .navbar li {
  margin-bottom: 21px;
}
.header__menu .navbar li a {
  font-weight: 400;
  font-size: 19.65px;
  line-height: 33.51px;
  letter-spacing: 0%;
  color: var(--color-grey-90, #e7e5e4);
}
.header__menu .navbar li a.active {
  font-weight: 900;
}
.header__menu .navbar li:last-child {
  margin-bottom: 0;
}
.header__menu .btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0;
  border-radius: 100px;
  padding: 14px 30px 12px;
  background: var(--color-white-solid, white);
  font-weight: 400;
  font-size: 13.02px;
  line-height: 19px;
  letter-spacing: 0%;
  margin: 0 auto;
  margin-bottom: 47px;
  color: #000;
}
.header__menu .link a {
  display: block;
  font-weight: 300;
  font-size: 17.24px;
  line-height: 24.51px;
  letter-spacing: 0%;
  color: var(--color-white-solid, white);
  margin-bottom: 14px;
}

.header__menu_navbar {
  max-width: 433px;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: -433px;
  background: rgba(15, 11, 8, 0.8);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 90px 40px 50px 72px;
}

.menu_close {
  width: 36px;
  height: 36px;
  border: 0;
  background: transparent;
  position: absolute;
  top: 40px;
  right: 60px;
}
.menu_close svg {
  width: 100%;
  height: 100%;
}

.header__menu.active {
  display: block;
}

.header__menu.opacity {
  opacity: 1;
}
.header__menu.opacity .header__menu_navbar {
  right: 0;
}

.header {
  min-height: 95px;
}

.header__wrap {
  padding: 24px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
}

.header.fixed .header__wrap {
  background: var(--White-30, rgba(255, 255, 255, 0.3));
  -webkit-backdrop-filter: blur(3.125rem);
          backdrop-filter: blur(3.125rem);
  padding: 16px 0;
}
.header.fixed .header__btn .main_btn1 {
  background: transparent;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: block;
  min-width: 180px;
  width: 180px;
  min-height: 46px;
  height: 46px;
  background: url(../img/logo.svg) no-repeat center;
  background-size: 100%;
  margin-right: 120px;
}

.header__navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__navbar li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 38px;
}
.header__navbar li svg {
  margin-left: 8px;
}
.header__navbar li a {
  font-weight: 200;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  color: var(--color-orange-5, #0f0b08);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__navbar li a:hover {
  color: #98B299;
}
.header__navbar li a.active {
  font-weight: 500;
}
.header__navbar li:last-child {
  margin-right: 0;
}

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
.header__btn .main_btn1 {
  margin-right: 10px;
}

.header__burgir {
  display: none;
}

.main_btn1, .main_btn2, .main_btn3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 13.02px;
  line-height: 19px;
  letter-spacing: 0%;
  padding: 14px 20px 12px;
  color: var(--color-orange-5, #0f0b08);
  border-radius: 100px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.main_btn1 svg, .main_btn2 svg, .main_btn3 svg {
  margin-left: 4px;
}
.main_btn1 svg path, .main_btn2 svg path, .main_btn3 svg path {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.main_btn1 span, .main_btn2 span, .main_btn3 span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
}
.main_btn1 b, .main_btn2 b, .main_btn3 b {
  font-weight: 700;
  padding-left: 2px;
}

.main_btn1::after, .main_btn2::after, .main_btn3::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #000;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main_btn1 {
  background: var(--color-white-solid, white);
  border: 1px solid var(--color-grey-79, #cdc9c6);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(25, 33, 61, 0.08);
          box-shadow: 0px 1px 4px 0px rgba(25, 33, 61, 0.08);
}

.main_btn2 {
  background: transparent;
  border: 1px solid;
  border-image-source: linear-gradient(0deg, var(--color-grey-27, #49433F), var(--color-grey-27, #49433F)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  border-radius: 100px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(25, 33, 61, 0.08);
          box-shadow: 0px 1px 4px 0px rgba(25, 33, 61, 0.08);
}

.main_btn3 {
  background: var(--color-white-02, rgba(255, 255, 255, 0.002));
  border: 1px solid var(--color-white-solid, white);
  color: var(--color-white-solid, white);
}

.main_btn1:hover, .main_btn2:hover, .main_btn3:hover {
  color: #fff;
  border-color: #000;
}
.main_btn1:hover svg path, .main_btn2:hover svg path, .main_btn3:hover svg path {
  fill: #fff;
}

.main_btn1:hover::after, .main_btn2:hover::after, .main_btn3:hover::after {
  width: 110%;
  height: 150px;
  opacity: 1;
}

.bannerMain .container {
  padding-top: 120px;
}

.bannerMain__wrap {
  min-height: 813px;
  position: relative;
  overflow: hidden;
}

.bannerMain__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bannerMain__img img {
  height: 110%;
}

.bannerMain__img::after {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--color-orange-5, #0f0b08);
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
}

.bannerMain__content {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
  padding-top: 250px;
  padding-bottom: 178px;
}
.bannerMain__content h1 {
  font-weight: 400;
  text-align: center;
  color: var(--color-white-solid, white);
  margin-bottom: 16px;
}
.bannerMain__content p {
  max-width: 562px;
  width: 100%;
  font-weight: 200;
  text-align: center;
  color: var(--color-grey-98, #fdfaf9);
  margin: 0 auto;
  margin-bottom: 32px;
}

.bannerMain__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bannerMain__btn .main_btn3 {
  margin-right: 10px;
}

.popular .container {
  padding-top: 90px;
  padding-bottom: 218px;
}

.title_h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}
.title_h2 h2 {
  font-weight: 400;
}
.title_h2 .main_btn1 {
  margin-left: auto;
}

.popular__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popular__block {
  max-width: 293px;
  width: 100%;
  min-height: 250px;
  margin-right: 57px;
  position: relative;
  padding-top: 32px;
  color: var(--color-orange-5, #0f0b08);
}
.popular__block h4 {
  font-weight: 400;
  margin-bottom: 16px;
}

.popular__icon {
  width: 60px;
  height: 60px;
  margin-bottom: 24px;
}
.popular__icon img {
  width: 100%;
}

.popular__block::after {
  content: "";
  width: 1px;
  height: 250px;
  background: #cdc9c6;
  position: absolute;
  top: 0;
  right: -28px;
}

.popular__block:nth-child(4n) {
  margin-right: 0;
}

.popular__block:nth-child(4n)::after {
  display: none;
}

.aboutMain .container {
  padding-bottom: 200px;
}

.aboutMain__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutMain__img {
  max-width: 398px;
  width: 100%;
  height: 497px;
  margin-left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.aboutMain__img img {
  height: 100%;
}

.aboutMain__img:nth-child(1) {
  margin-left: 0;
  height: 456px;
  margin-top: 155px;
}

.aboutMain__content {
  max-width: 460px;
  width: 100%;
  margin-left: 80px;
  padding-top: 176px;
}
.aboutMain__content h2 {
  font-weight: 400;
  margin-bottom: 16px;
}
.aboutMain__content p {
  margin-bottom: 24px;
}

.videoMain__wrap {
  width: 100%;
  height: 725px;
  position: relative;
  overflow: hidden;
}

.videoMain__bg {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.videoMain__bg img {
  width: 100%;
}

.videoMain__wrap::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-orange-540, rgba(15, 11, 8, 0.4));
}

.videoMain__content {
  max-width: 378px;
  width: 100%;
  position: absolute;
  bottom: 50px;
  left: 60px;
  z-index: 2;
  font-weight: 200;
  color: var(--color-grey-79, #cdc9c6);
}
.videoMain__content h2 {
  font-weight: 400;
  margin-bottom: 21px;
  color: #fff;
}
.videoMain__content h2 span {
  font-weight: 700;
}

.videoMain__price {
  font-weight: 300;
  font-size: 22.94px;
  line-height: 27.3px;
  letter-spacing: 0%;
  color: white;
  position: absolute;
  top: 102px;
  right: 70px;
  z-index: 2;
  text-align: end;
}
.videoMain__price h2 {
  font-weight: 700;
  color: white;
}

.videoMain__play {
  width: 124px;
  height: 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 125px;
  right: 60px;
  z-index: 2;
  border: 1px solid var(--color-white-solid, white);
  background: transparent;
  border-radius: 50%;
  overflow: hidden;
}
.videoMain__play svg {
  position: relative;
  z-index: 2;
}
.videoMain__play svg path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.videoMain__play::after {
  content: "";
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.videoMain__play:hover svg path {
  fill: #000;
}

.videoMain__play:hover::after {
  width: 130px;
  height: 130px;
}

.videoMain__video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.9s ease;
  transition: opacity 0.9s ease;
}
.videoMain__video iframe {
  width: 100%;
  height: 100%;
}

.videoMain.open .videoMain__video {
  opacity: 1;
  z-index: 3;
}

.buyNow {
  background: var(--color-grey-9020, rgba(231, 229, 228, 0.2));
}
.buyNow .container {
  padding-top: 176px;
  padding-bottom: 222px;
}
.buyNow h2 {
  font-weight: 400;
  text-align: center;
  margin-bottom: 56px;
}
.buyNow h2 span {
  font-weight: 700;
}

.buyNow__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
}

.buyNow__table {
  max-width: 700px;
  width: 100%;
}

.buyNow__table_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 40px;
  padding-bottom: 12px;
}
.buyNow__table_title h6 {
  max-width: 160px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.buyNow__table_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid var(--color-grey-69, #b6afaa);
  padding: 32px 0 16px 0;
  padding-right: 40px;
}
.buyNow__table_block h5 {
  margin-bottom: 47px;
}
.buyNow__table_block h5 span {
  display: block;
}
.buyNow__table_block h5 b {
  font-weight: 700;
}

.buyNow__table_link {
  font-weight: 400;
  font-size: 11.06px;
  line-height: 18px;
  letter-spacing: 0%;
  color: #0F0E0E;
}
.buyNow__table_link svg {
  margin-left: 5px;
}

.buyNow__table_class, .buyNow__table_time, .buyNow__table_days {
  max-width: 163px;
  width: 100%;
}

.buyNow__table_time p, .buyNow__table_days p {
  margin-bottom: 12px;
}

.buyNow__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 520px;
  width: 100%;
  height: 660px;
  overflow: hidden;
}
.buyNow__img img {
  width: 100%;
  height: auto;
}

.buyNow__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.buyNow__btn .main_btn2 {
  margin-right: 10px;
}

.ready .container {
  padding-top: 184px;
  padding-bottom: 200px;
}

.ready__wrap {
  min-height: 670px;
  background: var(--color-orange-5, #0f0b08);
  padding: 190px 0;
  padding-right: 57px;
  position: relative;
}

.ready__img1, .ready__img2 {
  width: 325px;
  height: 543px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.ready__img1 img, .ready__img2 img {
  width: auto;
  height: 100%;
}

.ready__img1 {
  position: absolute;
  top: -111px;
  left: 30px;
}

.ready__img2 {
  position: absolute;
  left: 377px;
  bottom: -111px;
}

.ready__content {
  max-width: 510px;
  width: 100%;
  margin-left: auto;
  color: var(--color-grey-90, #e7e5e4);
}
.ready__content h2 {
  max-width: 477px;
  width: 100%;
  font-weight: 400;
  margin-bottom: 16px;
  color: #fff;
}
.ready__content p {
  margin-bottom: 24px;
}
.ready__content .main_btn3::after {
  background: #98B299;
}

.joinNow .container {
  padding-top: 82px;
  padding-bottom: 200px;
}

.joinNow__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.joinNow__img {
  min-height: 410px;
  overflow: hidden;
  position: relative;
}
.joinNow__img img {
  height: 110%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
}

.joinNow__img:hover img {
  -webkit-transform: translate(-50%, -50%) scale(1.05);
          transform: translate(-50%, -50%) scale(1.05);
}

.joinNow__img:nth-child(2) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.joinNow__img:nth-child(3) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.joinNow__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.joinNow__block h2 {
  font-weight: 400;
  margin-bottom: 4px;
}
.joinNow__block h2 span {
  font-weight: 700;
}
.joinNow__block p {
  margin-bottom: 32px;
}

.aboutBelieve .container {
  padding-top: 77px;
  padding-bottom: 140px;
}
.aboutBelieve h1 {
  max-width: 590px;
  width: 100%;
  margin-bottom: 24px;
}

.aboutBelieve__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutBelieve__left {
  width: calc(100% - 444px);
}
.aboutBelieve__left .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 502px;
  overflow: hidden;
  margin-bottom: 48px;
}
.aboutBelieve__left .img img {
  width: 100%;
}
.aboutBelieve__left p {
  max-width: 580px;
  width: 100%;
  margin-left: 84px;
}

.aboutBelieve__right {
  max-width: 412px;
  width: 100%;
}
.aboutBelieve__right .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 657px;
  overflow: hidden;
}
.aboutBelieve__right .img img {
  height: 100%;
}

.aboutUs .container {
  padding-bottom: 200px;
}

.aboutUs__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutUs__left {
  max-width: 442px;
  width: 100%;
  height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.aboutUs__left img {
  height: 100%;
}

.aboutUs__right {
  width: calc(100% - 470px);
  padding-top: 56px;
}
.aboutUs__right h2 {
  margin-bottom: 16px;
}

.aboutUs__text {
  max-width: 550px;
  width: 100%;
  margin-bottom: 24px;
  margin-left: 48px;
}

.aboutUs__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutUs__img {
  min-width: 450px;
  width: 450px;
  height: 325px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  margin-right: 40px;
}
.aboutUs__img img {
  height: 100%;
}

.aboutValues .container {
  padding-bottom: 80px;
}

.aboutValues__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutValues__text {
  max-width: 510px;
  width: 100%;
}
.aboutValues__text h2 {
  margin-bottom: 16px;
}

.aboutValues__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 630px;
  width: 100%;
  margin-bottom: 48px;
  border-bottom: 1px solid var(--color-grey-69, #b6afaa);
  padding: 0 65px 40px 40px;
}
.aboutValues__block h4 {
  margin-bottom: 8px;
}

.aboutValues__icon {
  min-width: 60px;
  width: 60px;
  margin-right: 34px;
}
.aboutValues__icon svg {
  width: 100%;
}

.aboutTeam .container {
  padding-bottom: 100px;
}

.aboutTeam__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}
.aboutTeam__title .left {
  max-width: 467px;
  width: 100%;
}
.aboutTeam__title .right {
  margin-left: auto;
}
.aboutTeam__title .main_btn2 {
  margin-right: 10px;
}

.aboutTeam__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50px 1fr 50px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}

.aboutTeam__img {
  width: 100%;
  height: 432px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  margin-bottom: 32px;
}
.aboutTeam__img img {
  width: 100%;
}

.aboutTeam__pro {
  text-transform: uppercase;
  color: var(--color-orange-5, #0f0b08);
}

.aboutJoin .container {
  padding-bottom: 180px;
}
.aboutJoin h2 {
  text-align: center;
  margin-bottom: 37px;
}

.aboutJoin__box {
  max-width: 1132px;
  width: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
}

.aboutJoin__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 264px;
  background: var(--color-grey-9020, rgba(231, 229, 228, 0.2));
  padding: 52px 40px;
}
.aboutJoin__block h4 {
  max-width: 405px;
  width: 100%;
  margin-bottom: 24px;
}

.aboutJoin__block.max {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.aboutJoin__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
  padding-top: 40px;
}
.aboutJoin__person .img {
  min-width: 70px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 20px;
}
.aboutJoin__person .img img {
  width: 110%;
}
.aboutJoin__person .name {
  font-weight: 200;
  font-size: 18.59px;
  line-height: 28px;
  margin-bottom: 4px;
}

.aboutJoin__city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aboutJoin__city h6 {
  margin-right: 33px;
  position: relative;
}
.aboutJoin__city h6::after {
  content: "";
  width: 1px;
  height: 20px;
  background: var(--color-grey-69, #b6afaa);
  position: absolute;
  top: 50%;
  right: -15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.question .container {
  padding-bottom: 146px;
}
.question h2 {
  text-align: center;
  margin-bottom: 40px;
}

.question__wrap {
  background: var(--color-grey-9020, rgba(231, 229, 228, 0.2));
  padding: 200px 40px 74px;
}

.question__box {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 65px;
}

.question__accordion {
  padding: 32px 0;
  border-bottom: 1px solid var(--color-grey-79, #cdc9c6);
}

.question__accordion:nth-child(1) {
  border-top: 1px solid var(--color-grey-79, #cdc9c6);
}

.question__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.question__btn h3 {
  max-width: 700px;
  width: 100%;
  margin-right: 20px;
}

.question__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 34px;
  width: 34px;
  height: 34px;
  border: 1px solid;
  border-image-source: linear-gradient(0deg, var(--color-grey-27, #49433F), var(--color-grey-27, #49433F)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  border-radius: 50%;
  margin-left: auto;
}

.question__block {
  display: none;
}

.question__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .container {
  padding-top: 78px;
}
.contact h1 {
  max-width: 855px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
}
.contact h1 + p {
  font-weight: 200;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 48px;
}

.formBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #B6AFAA;
  min-height: 540px;
}

.formBox__left {
  max-width: 728px;
  width: 100%;
  border-right: 1px solid #B6AFAA;
  padding: 72px;
}
.formBox__left .main_btn2 {
  font-weight: 200;
  font-size: 12.91px;
  line-height: 19px;
  width: 100%;
}

.formBox__input {
  width: 100%;
  margin-bottom: 32px;
}
.formBox__input input {
  width: 100%;
  height: 48px;
  padding: 0 20px;
  font-weight: 200;
  font-size: 12.47px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #0F0E0E;
  border-radius: 100px;
  border: 1px solid var(--color-orange-5, #0f0b08);
  background: transparent;
}
.formBox__input input::-webkit-input-placeholder {
  color: var(--color-orange-5, #0f0b08);
}
.formBox__input input::-moz-placeholder {
  color: var(--color-orange-5, #0f0b08);
}
.formBox__input input:-ms-input-placeholder {
  color: var(--color-orange-5, #0f0b08);
}
.formBox__input input::-ms-input-placeholder {
  color: var(--color-orange-5, #0f0b08);
}
.formBox__input input::placeholder {
  color: var(--color-orange-5, #0f0b08);
}

.formBox__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.formBox__box .formBox__input {
  max-width: 284px;
  width: 100%;
}

.formBox__textarea {
  width: 100%;
  min-height: 160px;
  max-height: 160px;
  padding: 13px;
  font-weight: 200;
  font-size: 12.47px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #0F0E0E;
  border-radius: 8px;
  border: 1px solid var(--color-orange-5, #0f0b08);
  background: transparent;
  margin-bottom: 32px;
}

.formBox__textarea::-webkit-input-placeholder {
  color: var(--color-orange-5, #0f0b08);
}

.formBox__textarea::-moz-placeholder {
  color: var(--color-orange-5, #0f0b08);
}

.formBox__textarea:-ms-input-placeholder {
  color: var(--color-orange-5, #0f0b08);
}

.formBox__textarea::-ms-input-placeholder {
  color: var(--color-orange-5, #0f0b08);
}

.formBox__textarea::placeholder {
  color: var(--color-orange-5, #0f0b08);
}

.formBox__right {
  width: calc(100% - 728px);
  padding: 72px 65px;
}
.formBox__right h4 {
  margin-bottom: 8px;
}
.formBox__right h4 + p {
  font-weight: 200;
  max-width: 420px;
  width: 100%;
}

.formBox__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: font family/Font 1;
  font-weight: 200;
  font-size: 22.5px;
  line-height: 32px;
  letter-spacing: 0%;
  color: var(--color-orange-5, #0f0b08);
  margin-top: 40px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.formBox__link svg {
  margin-right: 16px;
}
.formBox__link svg path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.formBox__link:hover {
  color: #98B299;
}
.formBox__link:hover svg path {
  stroke: #98B299;
}

.formBox__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
}
.formBox__soc a {
  width: 18px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 13px;
}
.formBox__soc a path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.formBox__soc a:hover path {
  fill: #98B299;
}

.readyContact {
  min-height: 802px;
  background: var(--color-orange-5, #0f0b08);
  margin-top: 200px;
  position: relative;
}
.readyContact .ready__wrap {
  position: static;
  padding: 120px 0;
}
.readyContact .ready__img {
  width: 55%;
  height: 500px;
  position: absolute;
  bottom: 96px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.readyContact .ready__img img {
  width: 100%;
}
.readyContact .ready__content {
  max-width: 448px;
  margin-left: 0;
  font-weight: 200;
}
.readyContact .ready__content h2 {
  font-weight: 200;
}

.instagram .container {
  padding-top: 200px;
  padding-bottom: 200px;
}

.instagram__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.instagram__img {
  min-height: 300px;
  overflow: hidden;
  position: relative;
}
.instagram__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 102%;
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
}

.instagram__img:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.instagram__img:hover img {
  -webkit-transform: translate(-50%, -50%) scale(1.05);
          transform: translate(-50%, -50%) scale(1.05);
}

.banner {
  min-height: 590px;
  position: relative;
  margin-top: 64px;
}
.banner h1 {
  margin-bottom: 16px;
}

.banner__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}
.banner__img img {
  width: auto;
  height: 110%;
}

.banner__wrap {
  min-height: 590px;
  position: relative;
  z-index: 2;
  background: #FDFAF9;
  max-width: 550px;
  width: 100%;
  padding: 128px 80px 100px 0;
  font-weight: 200;
}

.banner__icon {
  margin-bottom: 23px;
  width: 60px;
  height: 60px;
}
.banner__icon img {
  width: 100%;
}

.banner__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}
.banner__btn .main_btn2 {
  margin-right: 10px;
}

.about .container {
  padding-top: 106px;
}
.about h3 {
  margin-bottom: 16px;
}

.about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about__content {
  max-width: 750px;
  width: 100%;
  padding: 27px 0 65px 0;
  font-weight: 200;
}
.about__content p {
  margin-bottom: 32px;
}
.about__content ul {
  padding-left: 40px;
}
.about__content ul li {
  font-weight: 400;
  font-size: 15.5px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #000;
  margin-bottom: 14px;
  position: relative;
}
.about__content ul li:before {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: -12px;
  background: #000;
  border-radius: 50%;
}
.about__content h2 {
  margin-bottom: 16px;
}
.about__content h3 {
  margin-bottom: 16px;
}

.about__aside {
  max-width: 425px;
  min-width: 425px;
  width: 100%;
  background: var(--color-grey-9020, rgba(231, 229, 228, 0.2));
  padding: 50px 38px;
  font-weight: 200;
}
.about__aside p {
  margin-bottom: 24px;
}
.about__aside ul {
  margin-bottom: 20px;
}
.about__aside ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 15.63px;
  line-height: 22px;
  letter-spacing: 0.96px;
  margin-bottom: 16px;
}
.about__aside ul li:last-child {
  margin-bottom: 0;
}
.about__aside ul span {
  min-width: 92px;
  margin-right: 12px;
  text-transform: uppercase;
}
.about__aside ul h6 {
  font-weight: 500;
  font-size: 15.25px;
  line-height: 24px;
  letter-spacing: 0%;
}
.about__aside .main_btn2 {
  width: 100%;
}

.works .container {
  padding-top: 300px;
  padding-bottom: 74px;
}

.works__wrap {
  background: var(--color-grey-9020, rgba(231, 229, 228, 0.2));
  padding: 48px 180px;
  position: relative;
}

.works__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 336px;
  height: 414px;
  position: absolute;
  top: -144px;
  left: 40px;
  overflow: hidden;
}
.works__img img {
  width: auto;
  height: 100%;
}

.works__content {
  max-width: 673px;
  width: 100%;
  margin-left: auto;
}
.works__content h6 {
  font-weight: 500;
}

.works__text {
  font-weight: 200;
  font-size: 18.44px;
  line-height: 28px;
  letter-spacing: 0%;
  color: var(--color-orange-5, #0f0b08);
  margin-bottom: 50px;
}

.works__block {
  font-weight: 200;
  color: black;
  margin-bottom: 8px;
}
.works__block h6 {
  font-weight: 400;
  font-size: 15.5px;
  line-height: 24px;
  margin-bottom: 16px;
  padding-left: 36px;
  position: relative;
}
.works__block h6::before {
  content: "";
  width: 16px;
  height: 13px;
  background: url(../img/check.svg) no-repeat center;
  background-size: 100%;
  position: absolute;
  top: 7px;
  left: 2px;
}

.works__block:last-child {
  margin-bottom: 0;
}

.courses {
  background: var(--color-grey-9020, rgba(231, 229, 228, 0.2));
}
.courses .container {
  padding-top: 80px;
  padding-bottom: 200px;
}

.courses__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 64px;
}

.courses__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.courses__block {
  width: 50%;
  border-right: 1px solid var(--color-grey-69, #b6afaa);
  font-weight: 200;
}
.courses__block h3 {
  margin-bottom: 16px;
}
.courses__block p {
  margin-bottom: 24px;
}

.courses__wrap {
  max-width: 520px;
  width: 100%;
  min-height: 326px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 24px;
}
.courses__wrap .main_btn1 {
  margin-top: auto;
}

.courses__block:nth-child(2n) {
  border: 0;
}
.courses__block:nth-child(2n) .courses__wrap {
  margin-left: auto;
}

.courses__icon {
  width: 60px;
  height: 60px;
  margin-bottom: 32px;
}
.courses__icon img {
  width: 100%;
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-33.333%);
            transform: translateX(-33.333%);
  }
}

@keyframes scroll-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-33.333%);
            transform: translateX(-33.333%);
  }
}
.footer {
  background: var(--color-orange-5, #0f0b08);
  padding-bottom: 60px;
  overflow: hidden;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__top {
  padding: 94px 0;
  overflow: hidden;
}

.footer__track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-animation: scroll-left 30s linear infinite;
          animation: scroll-left 30s linear infinite;
}

.footer__icon {
  margin-right: 112px;
  position: relative;
}

.footer__icon::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  right: -60px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #fff;
  border-radius: 50%;
}

.footer__icon:last-child::after {
  display: none;
}

.footer__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 130px;
  position: relative;
}
.footer__center .footer__box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.start_yoga {
  font-weight: 100;
  font-size: 21.38px;
  line-height: 31px;
  letter-spacing: 0%;
  color: var(--color-white-solid, white);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.start_yoga b {
  font-weight: 700;
}

.footer__link a {
  font-weight: 300;
  font-size: 22.13px;
  line-height: 31px;
  letter-spacing: 0%;
  color: var(--color-white-solid, white);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__link a:hover {
  color: #98B299;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__left {
  max-width: 300px;
  width: 100%;
  margin-right: 168px;
  padding-top: 74px;
}

.footer__logo {
  display: block;
  width: 172px;
  height: 38px;
  background: url(../img/footer-logo.svg) no-repeat center;
  background-size: 100%;
  margin-bottom: 16px;
}

.footer__copy {
  font-weight: 400;
  font-size: 15.13px;
  line-height: 24px;
  letter-spacing: 0%;
  color: var(--color-grey-90, #e7e5e4);
  margin-bottom: 65px;
}

.footer__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__soc a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.footer__soc a path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__soc a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.footer__soc a:hover path {
  fill: #98B299;
}
.footer__soc a:last-child {
  margin-right: 0;
}

.footer__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 114px;
}
.footer__navbar ul {
  margin-right: 130px;
}
.footer__navbar li {
  margin-bottom: 16px;
}
.footer__navbar li a {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0%;
  color: var(--color-grey-90, #e7e5e4);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__navbar li a:hover {
  color: #98B299;
}
.footer__navbar li:last-child {
  margin-bottom: 0;
}

.footer__pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 9.26px;
  line-height: 26px;
  letter-spacing: -3%;
  color: #fff;
  padding-top: 2px;
}
.footer__pay p {
  margin-right: 24px;
}
.footer__pay img {
  margin-right: 12px;
}

.footer__btn {
  display: none;
}

@media screen and (max-width: 1199px) {
  .container {
    padding: 0 40px;
  }

  body {
    background: #fff;
  }

  .header {
    min-height: 106px;
  }

  .header__burgir {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 20px;
    height: 15px;
    border: 0;
    background: transparent;
    margin-left: auto;
  }
  .header__burgir span {
    width: 100%;
    min-height: 1px;
    height: 1px;
    background: black;
  }
  .header__burgir span:nth-child(2) {
    margin: 3px 0;
  }

  .header__wrap {
    padding: 30px 0;
  }

  .header__btn {
    display: none;
  }

  .header__navbar li {
    margin-right: 30px;
  }

  .header__navbar li:nth-child(1) {
    margin-right: 68px;
  }

  .header__logo {
    margin-right: 15px;
  }

  .main {
    padding-top: 70px;
  }

  .banner {
    min-height: 440px;
  }

  .banner__wrap {
    width: 50%;
    min-height: 440px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .about .container {
    padding-top: 84px;
  }

  .about__box {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .about__content {
    max-width: 450px;
    width: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    padding-bottom: 98px;
  }

  .about {
    overflow: hidden;
  }

  .about__content ul {
    width: 90vw;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 116px;
    padding-left: 17px;
  }

  .works .container {
    padding-top: 104px;
    padding-bottom: 10px;
  }

  .works__wrap {
    width: calc(100% + 80px);
    margin-left: -40px;
    padding: 30px 50px;
    padding-bottom: 82px;
  }

  .works__content {
    max-width: 546px;
    margin-left: 0;
  }

  .works__img {
    height: auto;
    width: 289px;
    left: auto;
    top: 32px;
    right: 40px;
    bottom: 70px;
  }

  .courses {
    background: #f9f6f5;
    margin-bottom: 10px;
  }

  .courses__title .main_btn1 {
    display: none;
  }

  .courses .container {
    padding-top: 3px;
    padding-bottom: 50px;
  }

  .courses__block {
    border: 0;
  }

  .courses__wrap {
    min-height: 100%;
    max-width: 394px;
    padding-bottom: 0;
  }

  .footer__top {
    padding: 71px 0 23px;
  }

  .footer__center {
    min-height: 98px;
  }

  .start_yoga {
    font-size: 16px;
    line-height: 24px;
  }

  .footer__link a {
    font-size: 17px;
    line-height: 24px;
  }

  .footer__bottom {
    padding-top: 65px;
  }

  .footer__left {
    padding-top: 0;
    margin-right: 77px;
  }

  .footer__navbar {
    width: calc(100% - 370px);
    padding-top: 0;
  }

  .footer__pay {
    margin-top: 40px;
  }
}
@media screen and (max-width: 769px) {
  .container {
    padding: 0 19px;
  }

  section {
    display: none;
  }

  .menu_close {
    width: 30px;
    height: 30px;
    top: 47px;
    right: 56px;
  }

  .header__menu {
    background: transparent;
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
  }

  .header__menu_navbar {
    max-width: 100vw;
    width: 100vw;
    right: -100vh;
    padding: 96px 39px 90px 36px;
  }

  .header__navbar {
    display: none;
  }

  .header {
    min-height: 94px;
  }

  .header__wrap {
    padding: 24px 0;
  }

  .main {
    padding-top: 0;
  }

  .footer__top {
    padding-top: 30px;
    padding-bottom: 34px;
  }

  .footer__icon {
    height: 55px;
  }
  .footer__icon img {
    width: auto;
    height: 100%;
  }

  .footer__center {
    min-height: auto;
  }

  .footer__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .start_yoga {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translate(0);
            transform: translate(0);
    font-size: 24px;
    margin-bottom: 25px;
    text-align: center;
  }

  .footer__link {
    margin-bottom: 11px;
  }

  .footer__link:last-child {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .footer__bottom {
    padding-top: 60px;
  }

  .mobile_none {
    display: none;
  }

  .footer__navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 310px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 74px;
  }
  .footer__navbar ul {
    margin-right: 0;
  }

  .footer__navbar li a {
    font-size: 18px;
    line-height: 30px;
  }

  .footer__btn {
    max-width: 243px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 0;
    border-radius: 100px;
    padding: 14px 30px 12px;
    background: var(--color-white-solid, white);
    font-weight: 400;
    font-size: 13.02px;
    line-height: 19px;
    letter-spacing: 0%;
    margin: 0 auto;
    margin-bottom: 67px;
    color: #000;
  }

  .footer {
    padding-bottom: 13px;
  }

  .footer__left {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 0;
  }

  .footer__pay {
    display: none;
  }

  .footer__logo {
    margin-bottom: 40px;
  }

  .footer__copy {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 0;
    text-align: center;
  }

  .footer__soc {
    margin-left: auto;
    margin-top: 8px;
  }

  .banner {
    display: block;
    min-height: auto;
    margin-bottom: 32px;
  }

  .banner__wrap {
    width: 100%;
    min-height: auto;
    padding: 36px 0 46px 0;
    background: transparent;
  }

  .banner h1 {
    font-size: 50px;
    line-height: 60px;
  }

  .banner__img {
    position: relative;
    top: auto;
    right: auto;
    width: 100%;
    height: 408px;
  }

  .about {
    display: block;
  }

  .about .container {
    padding-top: 38px;
  }

  .about__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about__content {
    width: 100%;
    padding: 0;
  }

  .about__content ul {
    width: 100%;
    margin-bottom: 60px;
  }

  .about__content ul li {
    margin-bottom: 20px;
  }

  .about__content ul li:last-child {
    margin-bottom: 0;
  }

  .about__aside {
    max-width: 1000px;
    min-width: auto;
    width: calc(100vw + 38px);
  }

  .works {
    display: block;
  }

  .works__wrap {
    width: 100%;
    margin-left: 0;
    background: #f9f6f5;
    padding: 0;
  }

  .works__content {
    padding: 55px 19px 70px;
  }

  .works__text {
    margin-bottom: 16px;
  }

  .works .container {
    padding: 0;
  }

  .works__img {
    width: 100%;
    height: 466px;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
  }
  .works__img img {
    width: 100%;
    height: auto;
  }

  .courses {
    display: block;
    background: #fff;
    margin-bottom: 0;
  }

  .courses .container {
    padding-top: 60px;
    padding-bottom: 74px;
  }

  .courses__title {
    margin-bottom: 37px;
  }

  .courses__box {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-y: scroll;
  }

  .courses__block {
    min-width: 100%;
    width: 100%;
  }

  .courses__wrap {
    max-width: 350px;
  }

  .courses__block:nth-child(2n) .courses__wrap {
    margin-left: 0;
  }
}